.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.netlify/serverless.js
.netlify/shims.js
.netlify/functions-internal/render.json
.netlify/functions-internal/render.mjs
.netlify/server/index.js
.netlify/server/manifest.js
.netlify/server/vite-manifest.json
.netlify/server/chunks/Diamonds.js
.netlify/server/chunks/hooks.js
.netlify/server/chunks/index.js
.netlify/server/chunks/index2.js
.netlify/server/chunks/index3.js
.netlify/server/chunks/store.js
.netlify/server/chunks/stores.js
.netlify/server/chunks/WebSocketConnection.js
.netlify/server/entries/pages/_error.svelte.js
.netlify/server/entries/pages/_layout.svelte.js
.netlify/server/entries/pages/_page.svelte.js
.netlify/server/entries/pages/art/_page.svelte.js
.netlify/server/entries/pages/play/__optional__/_page.svelte.js
.netlify/server/entries/pages/play/__optional__/_page.ts.js
.netlify/server/entries/pages/play/create/_page.svelte.js
.netlify/server/entries/pages/play/create/_page.ts.js
.netlify/server/entries/pages/play/debug/_page.svelte.js
.netlify/server/entries/pages/play/game/_page.svelte.js
.netlify/server/entries/pages/play/game/_page.ts.js
.netlify/server/entries/pages/play/help/_page.svelte.js
.netlify/server/entries/pages/research/_page.svelte.js
.netlify/server/entries/pages/team/_page.svelte.js
.netlify/server/nodes/0.js
.netlify/server/nodes/1.js
.netlify/server/nodes/2.js
.netlify/server/nodes/3.js
.netlify/server/nodes/4.js
.netlify/server/nodes/5.js
.netlify/server/nodes/6.js
.netlify/server/nodes/7.js
.netlify/server/nodes/8.js
.netlify/server/nodes/9.js
.netlify/server/nodes/10.js
cypress/videos/pageNavigation.cy.ts.mp4
/cypress/e2e/__image_snapshots__